.jumbotron
  %h1 Article Publicator
  %p 
    Are you looking for information in a particular category? 
    %br
    Check here! Maybe you can find them here.
  %p If you want to share your articles, you can do it here. You can publish it for the entire community.
  %p
    = link_to 'Show articles', articles_path, class: 'btn btn-primary btn-xl'
    = link_to 'Publish articles', new_article_path, class: 'btn btn-success btn-xl'
