.jumbotron
  %h1 Article Publicator
  %p 
    Are you looking for information in a particular category? 
    %br
    Check here! Maybe you can find them here.
  %p If you want to share your articles, you can do it here. You can publish it for the entire community.
  %p
    = link_to articles_path, class: 'btn btn-primary btn-xl' do
      Show articles 
      = content_tag :span, '', class: 'glyphicon glyphicon-eye-open'
    = link_to new_article_path, class: 'btn btn-success btn-xl' do
      Publish articles
      = content_tag :span, '', class: 'glyphicon glyphicon-pencil'
