.jumbotron
  %h1 Article Publicator
  %p 
    Are you looking for information in a particular category? 
    %br
    Check here! Maybe you can find them here.
  %p If you want to share your articles, you can do it here. You can publish it as public or as private only for himself.
  %p
    = link_to 'Show articles', root_path, class: 'btn btn-primary btn-xl'
    = link_to 'Public articles', root_path, class: 'btn btn-success btn-xl'
