%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar 
        %span.icon-bar
        %span.icon-bar
      %h2    
        = link_to 'Article Publicator', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-right
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
